<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Iris Prediction</title>
    <link rel="stylesheet" type="text/css" href="home.css">
</head>

<body>
    <div class='container'>

        <div class="heading">
            <h1>
                Iris Class Prediction
            </h1>
        </div>

        <div class="miniContainer">
            <div class="description">
                <marquee behavior="" direction="">
                    <h3>
                        Some lines that looks like description but are not.
                        Go on and fill the form and do not think there is
                        going to be something interesting at the end of this
                        line because I'm telling you, you're wasting your time.
                        It's better that you just fill out the below stuff and
                        not care what this line is saying or where this line is
                        heading. Well, you've reached the end. This is the end.
                        The dead end....................... Gotchya!!! Bwahahahahahahahahahahahahahahahahahaha
                        <i>Gangadhar hi Shaktimaan h.</i> shhh
                    </h3>
                </marquee>
            </div>

            <form class="forms" method="POST" action='/predict'>

                <div class="form-group">
                    <label for='SepalLength'>
                        Sepal Length
                    </label>
                    <input type='text' name="SepalLength" placeholder="Enter the Sepal Length">
                </div>

                <div class="form-group">
                    <label for='SepalWidth'>
                        Sepal Width
                    </label>
                    <input type='text' name="SepalWidth" placeholder="Enter the Sepal Width">
                </div>

                <div class="form-group">
                    <label for='PetalLength'>
                        Petal Length
                    </label>
                    <input type='text' name="PetalLength" placeholder="Enter the Petal Length">
                </div>

                <div class="form-group">
                    <label for='PetalWidth'>
                        Petal Width
                    </label>
                    <input type='text' name="PetalWidth" placeholder="Enter the Petal Width">
                    </small>
                </div>

                <input class='submitButton' type='submit' value='Submit'>

            </form>
        </div>
    </div>



</body>

</html>